@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F8F8F8;
    font-family: Josefin Sans,sans-serif;
}
.logo_section_main{
    text-align: center;
}
/* Best_selling_section_start */
.best_selling_section{

}
.best_selling_left{

}
.best_selling_left_up{

}
.best_selling_left_up .btn{
background-color: #de5478;
color: white;
font-weight: bold;
padding: 10px 30px;
border-radius: 25px;
}
.best_selling_left_up h2{
    color:#de5478;
    font-weight: 600;
}
/* up_end */
.best_selling_left_down{

}
.best_selling_left_down h4{
    font-weight: bold;
}
.best_selling_left_down h6{

}
.best_selling_left_down .btn{
    background-color: #D45173;
    color: white;
    font-weight:600;
    border-radius: 15px;
    padding: 10px 30px;
    box-shadow: 0 25px 46.8519px rgba(30,20,10,.193);
}
.best_selling_left_down .btn:hover{
 background-color:blue;
 color: white;
}
/* Best_selling_section_end */
/* Executive_Night_section_start */
.Executive_Night_section_start{

}
.Executive_Night_one{
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.Executive_Night_one_img{
}
.Executive_Night_one p{
    line-height: 30px;
}
/* Executive_Night_section_end */
/* .Why_will_you_buy_start */
.Why_will_you_buy_start{
 text-align: center;
}
.Why_will_you_buy_ttle{
 text-align: center;
}
.Why_will_you_buy_ttle h2{
    color:#de5478;
    font-weight: 700;
}
.Why_will_you_buy_youtube{

}
.Why_will_you_buy_btn{

}
/* Why_will_you_buy_end */
/* .If_these_factors_with_you_start */
.If_these_factors_with_you{

}
.If_these_factors_with_you_mid{
    background-color: #FCEEF1;
    border-radius: 10px;
}
.If_these_factors_with_you_details{

}
.If_these_factors_with_you_one{
    background-color: white;
    border-radius: 14px;
}
.If_these_factors_with_you_one h4{
    line-height: 35px;
    font-size: 20px;
}
/* If_these_factors_with_you_end */
/* Why_is_our_perfume_better_start */
.Why_is_our_perfume_better{
    text-align: center;
}
.Why_will_you_buy_ttle p{
    font-size: 20px;
}
/* Why_is_our_perfume_better_end */
/* customer_feedback_section_start */
.customer_feedback_details_one{
    
}
/* customer_feedback_section_end */